#Name:Sachin Kalra
#Author:Madiha Kazmi
#Date created: 21-november-2022
#Purpose: This program will ask the user's detail and and ask for the choice the user wants to enroll
firstname = print("enter your first name ")
firstname = input()
lastname = print("enter your last name")
lastname = input()
studentnumber = print("enter your student number" )
studentnumber = input() 
#the data entered by user stored in a list
studentdata=[firstname,lastname,studentnumber]
#display the user availble courses
print("you have  four couses available that are as follow:")
def courses():
    courses_Available = {
        "info1385": "Network Infrastructure",
        "info1145": "IT Documentation",
        "info1783": "IT Programmming",
        "info1250": "Computer system Fundamentals"
    }
    print(courses_Available)
    #get the  user's input for the choice  of courses
    user_choice =print("please enter the course codes that you  want to enrolled for ") 
    user_choice=(input())
    if user_choice in courses_Available:    
        print(studentdata)
        #display the user's  information along with the choosed  courses
        selection=print("you  are now enrolled in",courses_Available.get("user_choice") )
        print(user_choice,selection)
        print("thankyou")   
    else:
        ("please enter a valid choice")
        courses()
courses()
